* {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #f4f4f4;
}

#principal {
  width: auto;
  height: auto;
}

#cabecalho {
  width: auto;
  height: 166px;
  background: url(../imagens/fundo-menu.png);
}

#cabecalho_superior {
  width: 100%;
}

.fundo_azul {
  background: #28a5d9;
}

.fundo_principal {
  background: url(../imagens/fundo-menu.png);
}


#menu-cima {
    width: 960px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    background: red;
    margin: 0 auto;
    text-align: center;
  }
  
  #menu-cima ul {
    list-style: none;
    font-family: "Trebuchet MS";
  }
  
  #menu-cima ul li {
    display: inline;
  }

#menu-cima ul li a{
  color: #000000;
  text-decoration: none;

}

#menu-cima ul li a:hover{
  color: yellow;
  text-decoration: underline;
}

#cabecalho_meio {
  width: 100%;
  height: 110px;
  position: relative;
}

#cabecalho_meio h1 {
  text-indent: -9999px;
  width: 175px;
  height: 52px;
  position: absolute;
  top: 25px;
  left: 150px;
  background: url(../imagens/img-logo.png) no-repeat top right;
  text-align: left;
}

.sacola {
  background: url(../imagens/carrinho.png) no-repeat top right;
  width: 300px;
  font-size: 10px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 200px;
  text-align: right;
  padding-right: 20px;
}

.busca {
  position: absolute;
  width: 400px;
  height: 35px;
  text-align: right;
  top: 40px;
  left: 300px;
}

.busca input [type=search] {
  width: 400px;
}

#cabecalho_inferior {
  width: 100%;
  line-height: 22px;
  border-bottom: 1px solid #ccc;
}

#menu-principal {
  width: 960px;
  height: 30px;
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
}

#menu-principal ul {
  list-style: none;
  font-family: "Trebuchet MS";
}

#menu-principal ul li {
  display: inline;
  margin-left: 5px;
  padding: 5px 30px;
  font-weight: bold;
  font-size: 13px;
}

.linha-vertical {
  border-right: 1px solic #ccc;
}

#menu-principal ul li a{
  color: #333;
  text-decoration: none;
}

#menu-principal ul li a:hover {
  color: red;
}